.aboutus-container {
    margin: 30px auto;
    max-width: 1000px;
    padding: 45px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2);
  }
  
  .aboutus-title {
    font-size: 40px;
    text-align: center;
    color: #00b2a6;
    margin-bottom: 20px;
  }
  
  .aboutus-description {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .aboutus-functionalities h2,
  .aboutus-technologies h2 {
    color:#00b2a6;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .aboutus-functionality-list,
  .aboutus-technology-list {
    list-style: none;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .aboutus-functionality-list li,
  .aboutus-technology-list li {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .aboutus-functionality-icon,
  .aboutus-technology-icon {
    color: #00b2a6;
    font-size: 40px;
  }
  
  .aboutus-functionality-list span,
  .aboutus-technology-list span {
    font-weight: bold;
    color:#00b2a6;
    font-size: 25px;
  }
  .aboutus-functionality-list p,
  .aboutus-technology-list p {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .aboutus-container {
      max-width: 400px;
    }
  
    .aboutus-title {
      font-size: 20px;
    }
  
    .aboutus-functionalities h2,
    .aboutus-technologies h2 {
      font-size: 18px;
    }
  }
  .image {
    display: block;
    margin: 0  auto;
    border-radius: 20px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2);
    align-items: center; 
    margin-top: 10px;
    width: 650px; 
  }