.aboutus-container {
    max-width: 900px;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 30px auto;
  }
  
  .aboutus-title {
    text-align: center;
    color: #00b2a6;
    margin-bottom: 20px;
   
  }
  
  .aboutus-description {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .aboutus-functionalities h2,
  .aboutus-technologies h2 {
    color:#00b2a6;
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
  }
  
  .aboutus-functionality-list,
  .aboutus-technology-list {
    list-style: none;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .aboutus-functionality-list li,
  .aboutus-technology-list li {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .aboutus-functionality-icon,
  .aboutus-technology-icon {
    color: #00b2a6;
    font-size: 40px;
  }
  
  .aboutus-functionality-list span,
  .aboutus-technology-list span {
    font-weight: bold;
    color:#00b2a6;
    font-size: 25px;
  }
  .aboutus-functionality-list p,
  .aboutus-technology-list p {
    font-weight: bold;
  }  
  .image {
    display: block;
    margin: 0  auto;
    border-radius: 20px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2);
    align-items: center; 
    margin-top: 40px;
    width: 650px; 
  }