
.home-container {
    text-align: center;
    max-width: 900px ;
    border-radius: 20px;
    padding: 45px;
    margin: 30px auto;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2);
  }
  
  .home-title  {
    color: #9a9a9a;
    font-size: 70px;
  }
  .home-title-2{
    color: #00b2a6;
    margin-bottom: 4px;
  }
  
  .home-description {
    margin-bottom: 40px;
    text-align: justify;
  }
   
  .p-2 {
    margin-bottom: 40px;
    text-align: center;
    color:#00b2a6;
  }
  .image-home {
    display: block;
    margin: 0  auto;
    border-radius: 20px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2);
    align-items: center; 
    margin-top: 60px;
    width: 650px; 
  }
  