* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins";  */
    align-items: center;
  }
  
  body {
    background: #191919;
    color: white;
    min-height: 100vh;
    align-content: center;
  }
  
  button {
    cursor: pointer;
  }